{% load staticfiles %}

<div class="sidebar-heading bg-dark" style="color:#789cad;">
  <a class="navbar-brand" href="{% url 'base:Index' %}">
    <img src="{% static 'images/logo.png' %}" class="img-fluid" width="150" alt="{{empresa.nombre}}">
  </a>
</div>
<div class="list-group list-group-flush bg-dark">
  <a class="list-group-item list-group-item-action bg-dark text-light" href="{% url 'Panel:PanelIndex' %}">
      <i class="fa fa-home text-info"></i> Inicio
  </a>

 <strong class="list-group-item bg-dark text-light text-uppercase">Configuraciones</strong>

  <a class="list-group-item list-group-item-action bg-dark text-light" href="{% url 'Panel:PanelAreasListar' %}">
      <i class="fa fa-network-wired text-info"></i> Areas de Trabajo
  </a>
  <a class="list-group-item list-group-item-action bg-dark text-light" href="">
      <i class="fa fa-building text-info"></i> Datos de la empresa
  </a>
  <a class="list-group-item list-group-item-action bg-dark text-light" href="{% url 'Panel:PanelEmpleadosListar' %}">
      <i class="fa fa-users text-info"></i> Empleados
  </a>
  <a class="list-group-item list-group-item-action bg-dark text-light" href="{% url 'Panel:PanelPuestosListar' %}">
      <i class="fa fa-id-card text-info"></i> Puestos Vacantes
  </a>

</div>
