{% load staticfiles %}

<div class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="{% static 'images/logo.png' %}" class="img-fluid" width="150" alt="">
        <h3 class="footer-heading mb-4">Nosotros</h3>
        <p>{{empresa.direccion}}</p>
        <hr class="bg-light">
        <h3 class="footer-heading mb-4">Conectate con nosotros</h3>
        <p>
          <a href="#"><i class="fas fa-envelope pt-2 pb-2 pl-0"></i> {{empresa.email}}</a>
          <br>
          <a href="#"><i class="fas fa-phone"></i> {{empresa.telefono}}</a>
        </p>
        <hr class="bg-light">
        <p>
          <a href=""><i class="fab fa-facebook-f pt-2 pr-2 pb-2 pl-0"></i></a>
          <a href=""><i class="fab fa-twitter p-2"></i></a>
          <a href=""><i class="fab fa-instagram p-2"></i></a>
        </p>
      </div>
      <div class="col-md-6">
        <div class="container">
          <h3 class="footer-heading mb-4">Portafolio</h3>
          <div class="d-flex flex-row">
              <div class="d-flex flex-column">
                <a href="">
                  <img src="https://scontent.cdninstagram.com/vp/480e54a00dbe913bab3296f6857504ab/5D8F5F9E/t51.2885-15/e35/c157.0.406.406a/s150x150/68738222_162222938255973_8506399155038497752_n.jpg?_nc_ht=scontent.cdninstagram.com" class="img-fluid mb-1 mr-1" width="80">
                </a>
                <a href="">
                  <img src="https://scontent.cdninstagram.com/vp/3acea91652d714492c73db47e46c6db9/5D8D3AE7/t51.2885-15/e35/c157.0.405.405a/s150x150/67690317_385865345686986_3659356272482934282_n.jpg?_nc_ht=scontent.cdninstagram.com" class="img-fluid mb-1 mr-1" width="80">
                </a>
                <a href="">
                  <img src="https://scontent.cdninstagram.com/vp/e91d7fb62f988b96abf6254c36f43cba/5E2E81AC/t51.2885-15/e35/c175.0.1011.1011a/s150x150/70806450_2703190129693925_728838528184605859_n.jpg?_nc_ht=scontent.cdninstagram.com" class="img-fluid mb-1 mr-1" width="80">
                </a>
              </div>
              <div class="d-flex flex-column">
                <a href="">
                  <img src="https://scontent.cdninstagram.com/vp/d538ef57cabfe29d0b0bc0da0085e15e/5E3C9972/t51.2885-15/e35/c130.0.750.750a/s150x150/69264319_120447366004752_7171584546670519556_n.jpg?_nc_ht=scontent.cdninstagram.com" class="img-fluid mb-1 mr-1" width="80">
                </a>
                <a href="">
                  <img src="https://scontent.cdninstagram.com/vp/066ba96ca603f3d321fe03bda88f72f9/5E1739B3/t51.2885-15/e35/c98.0.252.252a/s150x150/70828749_189670375374281_3046989901295962474_n.jpg?_nc_ht=scontent.cdninstagram.com" class="img-fluid mb-1 mr-1" width="80">
                </a>
                <a href="">
                  <img src="https://scontent.cdninstagram.com/vp/61f863d812c0a5da9ef2cf2580a47c2c/5E023CFF/t51.2885-15/e35/c130.0.751.751a/s150x150/67736871_185743485787128_956823416448976309_n.jpg?_nc_ht=scontent.cdninstagram.com" class="img-fluid mb-1 mr-1" width="80">
                </a>
              </div>
              <div class="d-flex flex-column">
                <a href="">
                  <img src="https://scontent.cdninstagram.com/vp/710d7ad33393916d45e254844c24108d/5E250CFB/t51.2885-15/e35/c175.0.1011.1011a/s150x150/70106133_650440808776820_1094876210652220536_n.jpg?_nc_ht=scontent.cdninstagram.com" class="img-fluid mb-1 mr-1" width="80">
                </a>
                <a href="">
                  <img src="https://scontent.cdninstagram.com/vp/98cf2a5c3df144786ff3c41e5fe484d9/5E2F6271/t51.2885-15/e35/c180.0.1079.1079a/s150x150/70210307_2393223977587145_3906918384370415387_n.jpg?_nc_ht=scontent.cdninstagram.com" class="img-fluid mb-1 mr-1" width="80">
                </a>
                <a href="">
                  <img src="https://scontent.cdninstagram.com/vp/6d50aac8a4694ffdb124ab8f49a61c46/5E3D0879/t51.2885-15/e35/s150x150/68764420_152215249201544_6151139403567301435_n.jpg?_nc_ht=scontent.cdninstagram.com" class="img-fluid mb-1 mr-1" width="80">
                </a>
              </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
