{% load staticfiles %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'base:Index' %}">
    <img src="{% static 'images/logo.png' %}" class="img-fluid" width="150" alt="{{empresa.nombre}}">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'base:Index' %}"><i class="fa fa-home"></i> Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Puestos:Puestos' %}"><i class="fa fa-building"></i> Puestos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'AreasTrabajo:Areas' %}"><i class="fa fa-network-wired"></i> Areas de Trabajo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'base:Nosotros' %}"><i class="fa fa-briefcase"></i> Nosotros</a>
      </li>
    </ul>
    <div class="my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Login' %}"><i class="fas fa-user fa-2x"></i><span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
