{% extends 'panel/index.html' %}
{% load staticfiles %}
{% block titulo %} Areas de trabajo {% endblock titulo %}

{% block breadcrumb %}
  <li class="breadcrumb-item text-capitalize" aria-current="page"><a href="{% url 'Panel:EmpleadosListar' %}">Datos de la empresa</a></li>
  <li class="breadcrumb-item text-capitalize" aria-current="page">Crear</li>
{% endblock breadcrumb %}

{% block card-header %}
  <div class="container-fluid">
    <div class="row d-flex justify-content-between">
      <span><i class="fa fa-bars"></i> Formulario de datos de la empresa </span>
    </div>
  </div>
{% endblock card-header %}

{% block card-body %}

  {% if form.errors %}
   <div class="alert alert-light">
     <h4 class="text-primary font-weight-bold"><i class="fa fa-exclamation-triangle text-warning"></i> Por favor corrige los siguientes errores</h4>
     <ul>
       {% for field in form %}
         {% if field.errors %}
           {% for error in field.errors %}
             <li class="text-secondary font-weight-bold font-italic">{{ error|escape }}</li>
           {% endfor %}
         {% endif %}
       {% endfor %}
     </ul>
     {% if form.non_field_errors %}
       {{ form.non_field_errors }}
     {% endif %}
   </div>
  {% endif %}

  <form method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="form-row">
			<div class="form-group col-sm-6">
        <label>{{ form.nombre.label }}</label>
        {{ form.nombre }}
			</div>
      <div class="form-group col-sm-6">
        <label>{{ form.rfc.label }}</label>
        {{ form.rfc }}
			</div>
		</div>
    <div class="form-row">
			<div class="form-group col-sm-6">
        <label>{{ form.telefono.label }}</label>
        {{ form.telefono }}
			</div>
      <div class="form-group col-sm-6">
        <label>{{ form.email.label }}</label>
        {{ form.email }}
			</div>
		</div>
    <div class="form-row">
			<div class="form-group col-sm-6">
        <label>{{ form.direccion.label }}</label>
        {{ form.direccion }}
			</div>
      <div class="form-group col-sm-6">
        <label>{{ form.twitter.label }}</label>
        {{ form.twitter }}
			</div>
		</div>
    <div class="form-row">
			<div class="form-group col-sm-6">
        <label>{{ form.facebook.label }}</label>
        {{ form.facebook }}
			</div>
      <div class="form-group col-sm-6">
        <label>{{ form.instagram.label }}</label>
        {{ form.instagram }}
			</div>
		</div>
    <div class="form-row">
			<div class="form-group col-sm-6">
        <label>{{ form.linkedin.label }}</label>
        {{ form.linkedin }}
			</div>
      <div class="form-group col-sm-6">
        <label>{{ form.pagina.label }}</label>
        {{ form.pagina }}
			</div>
      <div class="form-group col-sm-6">
        <label>{{ form.horario.label }}</label>
        {{ form.horario }}
      </div>
      <div class="form-group col-sm-12">
        <label>{{ form.nosotros.label }}</label>
        {{ form.nosotros }}
			</div>
		</div>
    <div class="form-group row">
      <div class="container d-flex justify-content-end">
        <button type="submit" class="btn btn-primary border-primary">Guardar Contenido</button>
      </div>
    </div>
  </form>
{% endblock card-body %}

{% block extrajs %}
  <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
  <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock extrajs %}
