{% extends 'panel/index.html' %}
{% load staticfiles %}
{% block titulo %} Puestos {% endblock titulo %}

{% block breadcrumb %}
  <li class="breadcrumb-item text-capitalize" aria-current="page">Puestos</li>
  <li class="breadcrumb-item text-capitalize" aria-current="page">Listado</li>
{% endblock breadcrumb %}


{% block card-header %}
  <div class="container-fluid">
    <div class="row d-flex justify-content-between">
      <span><i class="fal fa-bars"></i> Puestos Vacantes Publicados</span>
      <a href="" class="btn btn-light" type="button" name="button"><i class="fal fa-plus-circle"></i> Nuevo</a>
    </div>
  </div>
{% endblock card-header %}

{% block card-body %}
  {% if datosEmpresa %}
    <div class="container">
      {{datosEmpresa.nombre}}
    </div>
  {% else %}
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex align-self-center justify-content-center">
          <div class="">
            <span class="h1 display-3"><strong><i class="fal fa-exclamation-circle text-warning"></i> Ups!</strong></span>
            <p class="display-5 text-primary"><strong><i class="fa fa-database"></i> Sin información desponible</strong></p>
          </div>
        </div>
        <div class="col-lg-6 d-flex align-self-center justify-content-center">
            <img src="{% static 'images/close.gif' %}" class="img-fluid" width="70%">
        </div>
      </div>
    </div>
  {% endif %}
{% endblock card-body %}
