{% extends 'panel/index.html' %}
{% load staticfiles %}
{% block titulo %} Puestos {% endblock titulo %}

{% block breadcrumb %}
  <li class="breadcrumb-item text-capitalize" aria-current="page">Datos de la empresa</li>
  <li class="breadcrumb-item text-capitalize" aria-current="page">Listado</li>
{% endblock breadcrumb %}


{% block card-header %}
  <div class="container-fluid">
    <div class="row d-flex justify-content-between">
      <span><i class="fal fa-bars"></i> Datos de la empresa</span>
      <a href="{% url 'Panel:DatosEmpresaActualizar' datosEmpresa.id %}" class="btn btn-light"><i class="fal fa-edit"></i> Actualizar datos</a>
    </div>
  </div>
{% endblock card-header %}

{% block card-body %}
  {% if messages %}
    <div class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      {% for message in messages %}
      <span {% if message.tags %} class=" {{ message.tags }} " {% endif %}></span>
        <strong><i class="fal fa-check-circle"></i> </strong>{{ message }}
      {% endfor %}
    </div>
  {% endif %}
  {% if datosEmpresa %}
    <div class="container">
      <div class="bg-white rounded shadow-sm">
        <div class="media text-muted pt-3">
          <i class="bd-placeholder-img mr-2 rounded fal fa-industry fa-3x text-dark "></i>
          <div class="media-body pb-3 mb-0 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Nombre de la empresa</strong>
            {{datosEmpresa.nombre}}
          </div>
        </div>
        <div class="media text-muted pt-3">
          <i class="bd-placeholder-img mr-2 rounded fal fa-barcode fa-3x text-dark"></i>
          <div class="media-body pb-3 mb-0 border-bottom border-gray">
            <strong class="d-block text-gray-dark">RFC de la empresa</strong>
            {{datosEmpresa.rfc}}
          </div>
        </div>
        <div class="media text-muted pt-3">
          <i class="bd-placeholder-img mr-2 rounded fal fa-info fa-3x text-dark"></i>
          <div class="media-body pb-3 mb-0 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Descripción de la empresa</strong>
            {{datosEmpresa.nosotros | safe}}
          </div>
        </div>
        <div class="media text-muted pt-3">
          <i class="bd-placeholder-img mr-2 rounded fal fa-mobile fa-3x text-dark"></i>
          <div class="media-body pb-3 mb-0 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Telefono de contacto</strong>
            {{datosEmpresa.telefono}}
          </div>
        </div>
        <div class="media text-muted pt-3">
          <i class="bd-placeholder-img mr-2 rounded fal fa-envelope fa-3x text-dark"></i>
          <div class="media-body pb-3 mb-0 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Correo de contacto</strong>
            {{datosEmpresa.email}}
          </div>
        </div>
        <div class="media text-muted pt-3">
          <i class="bd-placeholder-img mr-2 rounded fal fa-map-marked-alt fa-3x text-dark"></i>
          <div class="media-body pb-3 mb-0 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Dirección de la empresa</strong>
            {{datosEmpresa.direccion}}
          </div>
        </div>
        <div class="media text-muted pt-3">
          <i class="bd-placeholder-img mr-2 rounded fal fa-calendar-alt fa-3x text-dark"></i>
          <div class="media-body pb-3 mb-0 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Horario de la empresa</strong>
            {{datosEmpresa.horario}}
          </div>
        </div>
        <div class="media text-muted pt-3">
          <i class="bd-placeholder-img mr-2 rounded fab fa-twitter fa-3x text-dark"></i>
          <div class="media-body pb-3 mb-0 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Twitter de la empresa</strong>
            {{datosEmpresa.twitter}}
          </div>
        </div>
        <div class="media text-muted pt-3">
          <i class="bd-placeholder-img mr-2 rounded fab fa-facebook fa-3x text-dark"></i>
          <div class="media-body pb-3 mb-0 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Facebook de la empresa</strong>
            {{datosEmpresa.facebook}}
          </div>
        </div>
        <div class="media text-muted pt-3">
          <i class="bd-placeholder-img mr-2 rounded fab fa-instagram fa-3x text-dark"></i>
          <div class="media-body pb-3 mb-0 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Instagram de la empresa</strong>
            {{datosEmpresa.instagram}}
          </div>
        </div>
        <div class="media text-muted pt-3">
          <i class="bd-placeholder-img mr-2 rounded fab fa-linkedin fa-3x text-dark"></i>
          <div class="media-body pb-3 mb-0 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Linkedin de la empresa</strong>
            {{datosEmpresa.linkedin}}
          </div>
        </div>
        <div class="media text-muted pt-3">
          <i class="bd-placeholder-img mr-2 rounded fab fa-twitter fa-3x text-dark"></i>
          <div class="media-body pb-3 mb-0 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Twitter de la empresa</strong>
            {{datosEmpresa.twitter}}
          </div>
        </div>
        <div class="media text-muted pt-3">
          <i class="bd-placeholder-img mr-2 rounded fal fa-globe fa-3x text-dark"></i>
          <div class="media-body pb-3 mb-0 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Web de la empresa</strong>
            {{datosEmpresa.pagina}}
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex align-self-center justify-content-center">
          <div class="">
            <span class="h1 display-3"><strong><i class="fal fa-exclamation-circle text-warning"></i> Ups!</strong></span>
            <p class="display-5 text-primary"><strong><i class="fa fa-database"></i> Sin información desponible</strong></p>
          </div>
        </div>
        <div class="col-lg-6 d-flex align-self-center justify-content-center">
            <img src="{% static 'images/close.gif' %}" class="img-fluid" width="70%">
        </div>
      </div>
    </div>
  {% endif %}
{% endblock card-body %}
{% block extrajs %}
{% endblock extrajs %}
