{% extends 'panel/index.html' %}
{% load staticfiles %}
{% block titulo %} Eviar Mensaje {% endblock titulo %}

{% block breadcrumb %}
  <li class="breadcrumb-item text-capitalize" aria-current="page"><a href="{% url 'Panel:EmpleadosListar' %}">Candidatos</a></li>
  <li class="breadcrumb-item text-capitalize" aria-current="page">Mensaje</li>
  <li class="breadcrumb-item text-capitalize" aria-current="page">{{object.email}}</li>
{% endblock breadcrumb %}

{% block card-header %}
  <div class="container-fluid">
    <div class="row d-flex justify-content-between">
      <span><i class="fal fa-bars"></i> Formulario de mensajes </span>
      <a href="{% url 'Panel:EmpleadosCrear' %}" class="btn btn-light"><i class="fal fa-plus-circle"></i> Nuevo</a>
    </div>
  </div>
{% endblock card-header %}

{% block card-body %}
<form method="post" enctype="multipart/form-data" >
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-sm-6"><!-- COLUMNA 1-->
      <label>{{ form.asunto.label }}</label>
      {{ form.asunto }}
    </div>
    <div class="form-group col-sm-6"><!-- COLUMNA 2-->
      <label>{{ form.destino.label }}</label>
      <input type="email" name="destino"
        class="form-control" required=""
        id="destino" value="{{mail}}" readonly>
    </div>
    <div class="form-group col-sm-12"><!-- COLUMNA 3-->
      <label>{{ form.contenido.label }}</label>
        {{ form.contenido }}
    </div>
  </div>
  <div class="form-group row">
    <div class="container d-flex justify-content-end">
      <button type="submit" class="btn btn-primary border-primary">Enviar mensaje</button>
    </div>
  </div>
</form>
{% endblock card-body %}
{% block extrajs %}
{% endblock extrajs %}
