{% extends 'panel/index.html' %}
{% load staticfiles %}
{% block titulo %} Candidatos {% endblock titulo %}

{% block breadcrumb %}
  <li class="breadcrumb-item text-capitalize" aria-current="page">Candidatos</li>
  <li class="breadcrumb-item text-capitalize" aria-current="page">Listado</li>
{% endblock breadcrumb %}

{% block card-header %}
  <div class="container-fluid">
    <div class="row d-flex justify-content-between">
      <span><i class="fal fa-bars"></i> Candidatos Postulados</span>
        <a href="{% url 'Panel:export_candidatos_xls' %}" class="btn btn-outline-info" data-toggle="tooltip" data-placement="top" title="Exportar tabla"><i class="fal fa-download"></i></a>
    </div>
  </div>
{% endblock card-header %}

{% block card-body %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% if message.tags == "warning" %}
          <i class="fal fa-times-circle"></i>
        {% else %}
          <i class="fal fa-check-circle"></i>
        {% endif %}
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  {% if candidatos %}
    <div class="table-responsive">
      <table class="table table-striped table-hover text-center">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Telefono</th>
            <th>Curriculum</th>
            <td>Opciones</td>
          </tr>
        </thead>
        <tbody>
          {% for candidato in candidatos %}
          <tr>
            <th>{{candidato.id}}</th>
            <td>{{candidato.nombre}} {{candidato.apellidos}}</td>
            <td>{{candidato.email}}</td>
            <td>{{candidato.telefono}}</td>
            <td>{% if candidato.curriculum %}<a href="{{candidato.curriculum.url}}">Curriculum</a> {% else %} <span class="badge badge-info">No Enviado</span> {% endif %}</td>
            <td><a href="{% url 'Panel:CandidatosEliminar' candidato.id %}" class="btn btn-danger"><i class="fal fa-trash"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if is_paginated %}
        <div class="d-flex justify-content-center">
          <ul class="pagination pagination-lg">
            {% if page_obj.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            {% endif %}

            {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
          </ul>
        </div>
      {% endif %}
    </div>
  {% else %}
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex align-self-center justify-content-center">
          <div class="">
            <span class="h1 display-3"><strong><i class="fal fa-exclamation-circle text-warning"></i> Ups!</strong></span>
            <p class="display-5 text-primary"><strong><i class="fa fa-database"></i> Sin información desponible</strong></p>
          </div>
        </div>
        <div class="col-lg-6 d-flex align-self-center justify-content-center">
            <img src="{% static 'images/close.gif' %}" class="img-fluid" width="70%">
        </div>
      </div>
    </div>
  {% endif %}
{% endblock card-body %}
{% block extrajs %}
{% endblock extrajs %}
