{% extends 'panel/index.html' %}
{% load staticfiles %}
{% block titulo %} Empleados {% endblock titulo %}

{% block breadcrumb %}
  <li class="breadcrumb-item text-capitalize" aria-current="page">Empleados</li>
  <li class="breadcrumb-item text-capitalize" aria-current="page">Listado</li>
{% endblock breadcrumb %}

{% block card-header %}
  <div class="container-fluid">
    <div class="row d-flex justify-content-between">
      <span><i class="fal fa-bars"></i> Empleados Activos</span>
      <div class="btn-group">
        <button type="button" class="btn btn-outline-info" data-placement="top" title="Importar tabla" data-toggle="modal" data-target="#exampleModal"><i class="fal fa-upload"></i></button>
        <a href="{% url 'Panel:export_empleados_xls' %}" class="btn btn-outline-info" data-toggle="tooltip" data-placement="top" title="Exportar tabla"><i class="fal fa-download"></i></a>
        <a href="{% url 'Panel:EmpleadosCrear' %}" class="btn btn-light ml-5"><i class="fal fa-plus-circle"></i> Nuevo</a>
      </div>
    </div>
  </div>
{% endblock card-header %}

{% block card-body %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% if message.tags == "warning" %}
          <i class="fal fa-times-circle"></i>
        {% else %}
          <i class="fal fa-check-circle"></i>
        {% endif %}
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  {% if empleados %}
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Salario</th>
            <th>Jornada</th>
            <th>Contrato</th>
            <th class="text-center">Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for empleado in empleados %}
          <tr>
            <th>{{empleado.id}}</th>
            <td><a href="{% url 'Panel:EmpleadosActualizar' empleado.id %}">{{empleado.nombre}}</a></td>
            <td>{{empleado.salario}}</td>
            <td>{{empleado.jornada}}</td>
            <td>{{empleado.contrato}}</td>
            <td class="text-center"><a href="{% url 'Panel:EmpleadosEliminar' empleado.id %}" class="btn btn-danger btn-sm"><i class="fal fa-trash"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if is_paginated %}
        <div class="d-flex justify-content-center">
          <ul class="pagination pagination-lg">
            {% if page_obj.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            {% endif %}

            {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
          </ul>
        </div>
      {% endif %}
    </div>
  {% else %}
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex align-self-center justify-content-center">
          <div class="">
            <span class="h1 display-3"><strong><i class="fal fa-exclamation-circle text-warning"></i> Ups!</strong></span>
            <p class="display-5 text-primary"><strong><i class="fa fa-database"></i> Sin información desponible</strong></p>
          </div>
        </div>
        <div class="col-lg-6 d-flex align-self-center justify-content-center">
            <img src="{% static 'images/close.gif' %}" class="img-fluid" width="70%">
        </div>
      </div>
    </div>
  {% endif %}
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form method="post" enctype="multipart/form-data" action="{% url 'Panel:import_empleados_xls' %}" accept="application/msexcel">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Formulario de importación</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              {% csrf_token %}
              <input type="file" name="myfile" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock card-body %}
{% block extrajs %}
{% endblock extrajs %}
