{% extends 'panel/index.html' %}
{% load staticfiles %}
{% block titulo %} Cambiar contrseña | {{user.username}} {% endblock titulo %}

{% block breadcrumb %}
  <li class="breadcrumb-item text-capitalize" aria-current="page">Usuario</li>
  <li class="breadcrumb-item text-capitalize" aria-current="page">{{user.username}}</li>

{% endblock breadcrumb %}

{% block card-header %}
  <div class="container-fluid">
    <div class="row d-flex justify-content-between">
      <span><i class="fa fa-bars"></i> Formulario para cambiar contraseña</span>
    </div>
  </div>
{% endblock card-header %}

{% block card-body %}
  <div class="container">
    <ul class="list-group list-group-flush mb-5">
      <li class="list-group-item"><i class="fal fa-chevron-right"></i> Su contraseña no puede ser similar a su otra información personal.</li>
      <li class="list-group-item"><i class="fal fa-chevron-right"></i> Su contraseña es muy corta. Debe contener al menos 8 caracteres.</li>
      <li class="list-group-item"><i class="fal fa-chevron-right"></i> Su contraseña no puede ser una contraseña común.</li>
      <li class="list-group-item"><i class="fal fa-chevron-right"></i> Su contraseña no puede ser enteramente numérica.</li>
    </ul>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {% if message.tags == "warning" %}
            <i class="fal fa-times-circle"></i>
          {% else %}
            <i class="fal fa-check-circle"></i>
          {% endif %}
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <div class="form-row">
  			<div class="form-group col-md-12">
  				<label>Contraseña Actual</label>
          <input type="password" name="old_password" placeholder="Contraseña Actual" id="id_old_password" class="form-control" required>
  			</div>
  		</div>
      <div class="form-row">
        <div class="form-group col-md-6">
  				<label>Contraseña Nueva</label>
  				<input type="password" name="new_password1" placeholder="Contraseña Nueva" id="id_new_password1" class="form-control" required>
  			</div>
        <div class="form-group col-md-6">
          <labe>Confirmar Contraseña</label>
          <input type="password" name="new_password2" placeholder="Confirmar Contraseña" id="id_new_password2" class="form-control" required>
        </div>
      </div>
      <div class="form-group row">
        <div class="container d-flex justify-content-end">
          <button type="submit" class="btn btn-primary border-primary">Guardar Contenido</button>
        </div>
      </div>
    </form>
  </div>
{% endblock card-body %}
