{% extends 'panel/index.html' %}
{% load staticfiles %}
{% block titulo %} Candidatos {% endblock titulo %}

{% block breadcrumb %}
  <li class="breadcrumb-item text-capitalize" aria-current="page">Usuarios</li>
  <li class="breadcrumb-item text-capitalize" aria-current="page">Listado</li>
{% endblock breadcrumb %}

{% block card-header %}
  <div class="container-fluid">
    <div class="row d-flex justify-content-between">
      <span><i class="fal fa-bars"></i> Usuarios Registrados</span>
      {% if user.is_staff %}
        <a href="{% url 'Panel:PuestosCrear' %}" class="btn btn-light ml-5" type="button" name="button"><i class="fal fa-plus-circle"></i> Nuevo</a>
      {% endif %}
    </div>
  </div>
{% endblock card-header %}

{% block card-body %}
  {% if users %}
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Username</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th class="text-center">Estado</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <th>{{user.username}}</th>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td class="text-center">
              {% if user.is_active%}
                <span class="badge badge-success">Activo</span>
              {% else %}
                <span class="badge badge-danger">Desactivado</span>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if is_paginated %}
        <div class="d-flex justify-content-center">
          <ul class="pagination pagination-lg">
            {% if page_obj.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            {% endif %}

            {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
          </ul>
        </div>
      {% endif %}
    </div>
  {% else %}
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex align-self-center justify-content-center">
          <div class="">
            <span class="h1 display-3"><strong><i class="fal fa-exclamation-circle text-warning"></i> Ups!</strong></span>
            <p class="display-5 text-primary"><strong><i class="fa fa-database"></i> Sin información desponible</strong></p>
          </div>
        </div>
        <div class="col-lg-6 d-flex align-self-center justify-content-center">
            <img src="{% static 'images/close.gif' %}" class="img-fluid" width="70%">
        </div>
      </div>
    </div>
  {% endif %}

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form method="post" enctype="multipart/form-data">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              {% csrf_token %}
              <input type="file" name="xlsfile">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock card-body %}
{% block extrajs %}
{% endblock extrajs %}
