{% extends 'panel/index.html' %}
{% load staticfiles %}
{% block titulo %} Areas de trabajo {% endblock titulo %}

{% block breadcrumb %}
  <li class="breadcrumb-item text-capitalize" aria-current="page">Areas de Trabajo</li>
  <li class="breadcrumb-item text-capitalize" aria-current="page">Listado</li>
{% endblock breadcrumb %}

{% block card-header %}
  <div class="container-fluid">
    <div class="row d-flex justify-content-between">
      <span><i class="far fa-bars"></i> Puestos Vacantes Publicados</span>
      <a href="{% url 'Panel:AreasCrear' %}" class="btn btn-light"><i class="fal fa-plus-circle"></i> Nuevo</a>
    </div>
  </div>
{% endblock card-header %}

{% block card-body %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% if message.tags == "warning" %}
          <i class="fal fa-times-circle"></i>
        {% else %}
          <i class="fal fa-check-circle"></i>
        {% endif %}
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  {% if areas %}
    <div class="container">
      <div class="row">
        {% for area in areas %}
          <div class="col-sm-4 mb-4">
            <div class="card">
              <img src="{{area.imagen_referencial.url}}" class="card-img-top img-fluid">
              <div class="card-body">
                <h5 class="card-title">{{area.nombre}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="container">
                  <div class="row d-flex justify-content-between">
                    <a href="{% url 'Panel:AreasActualizar' area.id %}" class="btn btn-success"><i class="fal fa-edit"></i></a>
                    <a href="{% url 'Panel:AreasEliminar' area.id %}" class="btn btn-danger"><i class="fal fa-trash"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    {% if is_paginated %}
      <div class="d-flex justify-content-center">
        <ul class="pagination pagination-lg">
          {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
          {% endif %}

          {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
              <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
          {% endif %}
        </ul>
      </div>
    {% endif %}
  {% else %}
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex align-self-center justify-content-center">
          <div class="">
            <span class="h1 display-3"><strong><i class="fal fa-exclamation-circle text-warning"></i> Ups!</strong></span>
            <p class="display-5 text-primary"><strong><i class="fa fa-database"></i> Sin información desponible</strong></p>
          </div>
        </div>
        <div class="col-lg-6 d-flex align-self-center justify-content-center">
            <img src="{% static 'images/close.gif' %}" class="img-fluid" width="70%">
        </div>
      </div>
    </div>
  {% endif %}
{% endblock card-body %}

{% block extrajs %}
{% endblock extrajs %}
